/.codex export-ignore
/.context export-ignore
/.github export-ignore
/tests export-ignore
/.gitignore export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/composer.lock export-ignore
/Gruntfile.js export-ignore
